# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias ag='ag -f --hidden'

alias ls="exa"

alias l="exa -lahF"


# lock the screen (when going afk)
alias afk="/system/library/coreservices/menu\ extras/user.menu/contents/resources/cgsession -suspend"


# reload the shell (i.e. invoke as a login shell)
alias reload="exec ${shell} -l"

# faster is better
alias v="nvim"

# sometimes :exit is easier
alias :exit="exit"

# show local ip
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# copy public key to clipboard
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

alias cb="kitty +kitten clipboard"

alias p="cd ~/projects"
alias g="git"

alias reload="exec ${SHELL} -l"
