# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias ag='ag -f --hidden'

alias ls="exa"

alias l="exa -lahF"

# sometimes :exit is easier
alias :exit="exit"
alias qq="exit"

# show local ip
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

alias p="cd ~/projects"
alias g="lazygit"
alias gh-libs="cd ~/github/libs"

alias w='watson'

alias jira-sprints-future="jira sprint list --state future"

alias dotfiles="cd ~/github/vishes-shell/dotfiles/; v"
alias dotfiles-private="cd ~/github/vishes-shell/dotfiles-private/; v"
alias libs="cd ~/github/libs"

alias v='nvim'
alias s="ssh"

alias poe="poetry poe"

alias jira-issue-estimate="~/.fish_scripts/set_jira_original_estimate.fish"
